<!DOCTYPE html>
<html>
	<head>
		<title>Lomax Radio</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<!--Stylesheets--> 
		<link rel='stylesheet' href='//www.simile-widgets.org/styles/common.css' type='text/css' />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!--Data--> 
		<link href="/javascripts/schema.js" type="application/json" rel="exhibit/data" />
		<link href="/javascripts/output.csv" type="text/csv" rel="exhibit/data" data-ex-properties="songname,tracknote,duration,topic,label,startdate,station,showdescription,participantname,shownote,timelinedate"/>

		<!--Externals--> 
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://api.simile-widgets.org/exhibit/3.1.0rc/exhibit-api.js"></script>

		<!--Extensions--> 	
		<link rel="exhibit-extension" type="text/javascript" href="//api.simile-widgets.org/exhibit/current/extensions/time/time-extension.js"/>
		<style>
		    .exhibit-tileView-body { list-style: none; }
		    .exhibit-collectionView-group-count { display: none; }
		    div.song-lens {
		        background: #f2f2f2;
		        border-radius: 25px;
		    }
		</style>
	</head>
  	<body>
		<div data-ex-role="coder" data-ex-coder-class="Color" id="stations-colors" style="display: none;">
			<span data-ex-color="#00C8F8">BBC (New York)</span>
			<span data-ex-color="#59C4C5">Columbia Broadcasting System</span>
			<span data-ex-color="#FFC33C">Mutual Broadcasting Company</span>
			<span data-ex-color="#FF4C65">National Broadcasting Company</span>
			<span data-ex-color="gray"  data-ex-case="others">Other stations</span>
			<span data-ex-color="white" data-ex-case="mixed">Multiple stations</span>
			<span data-ex-color="black" data-ex-case="missing">No station</span>
		</div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" id="home_button">Lomax Radio Database</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#" id="home_button">Home</a></li>
					<li><a href="#" id="songs_button">Songs</a></li>
					<li class="active"><a href="#" id="shows_button">Shows</a></li>
					<li><a href="#" id="participants_button">Participants</a></li>
				</ul>
			</div>
		</nav>
	    <div class="row">
	    	<div class="col-md-1"></div>
			<div class="col-md-3" style="background-color: #f2f2f2; border-radius: 15px; padding: 15px;">
				<div style="padding: 15px; border-style: solid; border-width: thin; border-color: #cccccc;">
					<div><h4 align="center"><i>Click</i> on a show to see its description and notes.</h4></div>
					<div><h4 align="center"><i>Search</i> by keyword.</h4></div>
					<div><h4 align="center"><i>Filter</i> by station.</h4></div>
				</div>
				<div data-ex-role="facet" data-ex-facet-label="Search by Keyword" data-ex-facet-class="TextSearch"></div>
				<div data-ex-role="facet" data-ex-facet-label="Filter by Station" data-ex-expression=".station" data-ex-color-coder="stations-colors" data-ex-show-missing="false" data-ex-height="120px"></div>
			</div>
	  		<div class="col-md-7">
	        	<div data-ex-role="viewPanel">  
					<div data-ex-role="view" 
						data-ex-view-class="Timeline" 
						data-ex-show-toolbox="false" 
						data-ex-color-coder="stations-colors"
						data-ex-timeline-height="600" 
						data-ex-start=".timelinedate" 
						data-ex-color-key=".station" 
						data-ex-top-band-unit="month" 
						data-ex-bottom-band-unit="year"
						data-ex-show-summary="false"
						data-ex-top-band-pixels-per-unit="50" 
						data-ex-bottom-band-pixels-per-unit="100"> 
							<div data-ex-role="lens">
								<div data-ex-select=".station">
									<div data-ex-case="BBC (New York)" style="color: #00C8F8;">
								  		<b><h3 align="center" data-ex-content=".label"></h3> 
										<p align="center" data-ex-content=".showdescription"></p> 
										<i><p align="center" data-ex-content=".shownote"></p></i></b> 
									</div>
									<div data-ex-case="Columbia Broadcasting System" style="color: #59C4C5;">
								  		<b><h3 align="center" data-ex-content=".label"></h3> 
										<p align="center" data-ex-content=".showdescription"></p> 
										<i><p align="center" data-ex-content=".shownote"></p></i></b> 
									</div>
									<div data-ex-case="Mutual Broadcasting Company" style="color: #FFC33C;">
								  		<b><h3 align="center" data-ex-content=".label"></h3> 
										<p align="center" data-ex-content=".showdescription"></p> 
										<i><p align="center" data-ex-content=".shownote"></p></i></b> 
									</div>
									<div data-ex-case="National Broadcasting Company" style="color: #FF4C65;">
								  		<b><h3 align="center" data-ex-content=".label"></h3> 
										<p align="center" data-ex-content=".showdescription"></p> 
										<i><p align="center" data-ex-content=".shownote"></p></i></b> 
									</div>
								</div>
							</div>
					</div>

<!-- 			        <div data-ex-role="view" 
			        	data-ex-view-class="Tabular" 
			        	data-ex-show-toolbox="false"
			        	data-ex-label="Debug" 
			        	data-ex-columns=".songname,.tracknote,.duration,.topic,.label,.startdate,.station,.showdescription,.participantname,.shownote,.timelinedate" 
			        	data-ex-column-labels="songname,tracknote,duration,topic,showtitle,startdate,station,showdescription,participantname,shownote,timelinedate">
			        </div> -->

            </div>
	    		</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</body>
	<script>
		$('html').on("click","#home_button", function(){
			$(location).attr("href","/index");
		});

		$('html').on("click","#songs_button", function(){
			$(location).attr("href","/songs_page");
		});

		$('html').on("click","#shows_button", function(){
			$(location).attr("href","/shows_page");
		});

		$('html').on("click","#participants_button", function(){
			$(location).attr("href","/participants_page");
		});
	</script>
</html>
